<<<<<<< HEAD
h1 {
    text-align: center;
}
=======
.AnimeList-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
  }
  
  @media (max-width: 1500px) {
  .AnimeList-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    }
  }
  
  @media (max-width: 1000px) {
  .AnimeList-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    justify-items: center;
    }
  }
>>>>>>> 12bf9ad7fcb454de69c741de7ad16e8ba4fa3f65
